html,body {
    margin: 0px;
    padding: 0px;
}
span {
    font-family: 'Rock Salt';
    font-size: 36px;
    color: white;
    margin-left: 59px;

}
h1 {
    font-family: 'Quicksand';
    font-size: 40px;
    font-weight: bolder;
    color: #72CAC3;
    text-align: center;
    margin: 100px 0px 0px 0px;
}
h2 {
    font-family: 'Quicksand';
    font-size: 36px;
    color: white;
    margin-left: 90px;
    font-weight: bold;
}
h3 {
    font-family: 'Quicksand';
    font-size: 20px;
    color: #72CAC3;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}
iframe {
    border: none;
    margin-top: 50px;
}
table {
    margin: auto;
}
tr {
    padding: 8px;
}
footer{
  height: inherit;
  margin: none;
}
.test{
    margin-left: 200px;
}

/* home page start */
.begin {
    background-image: url("images/bluehalf.png");
}
.page1 {
    background-color: #72CAC3;
    height: 126px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.home {
    color: white;
    font-family: 'Rock Salt';
    font-size: 36px;
    margin-left: 80px;
    margin-right: 250px;
    margin-top: 20px;
}
.homenav {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.page1 .homenav:hover {
    background-color: white;
    color: #72CAC3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.homehighlight {
    background-color: white;
    color: #72CAC3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 3px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}

/* home page end */

/* story page start */

.page2 {
    background-color: #FCE57F;
    height: 126px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.storybck {
    background-color: #FCE57F;
}
.storyhighlight {
    background-color: white;
    color: #2A525B;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 3px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.story {
    color: #2A525B;
    font-family: 'Rock Salt';
    font-size: 36px;
    margin-left: 80px;
    margin-right: 250px;
    margin-top:50px;
}
.storynav {
    color: #2A525B;
    text-decoration: none;
    font-family: 'Quicksand';
    border: 2px solid #2A525B;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}

.page2 .storynav:hover {
    background-color: white;
    color: #2A525B;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.storyfoot {
background-color: #FCE57F;
 height: 65px;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  padding-left: 43%; 
  padding-top: .5%;
  padding-bottom: .5%;
}
.left {
    width: 40%;
    margin-left: 130px;
    padding-top: 130px;
    float: left;

}
.leftp {
    color: white;
    font-family: 'Quicksand';
    font-size: 13px;
    text-align: justify;
    border-right: 2px solid white;
    padding-right: 100px;

}
.right {
    width: 40%;
    height: 540px;
    background-color: grey;
    float: left;
    margin: 70px;
}

/* story page end */

/* choose sign page */
.page3 {
    background-color: #72CAC3;
    height: 126px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.page3 .choosenav:hover {
    background-color: white;
    color: #72CAC3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.chooseback {
    background-color: white;
}
.choosenav {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.choosehighlight {
    background-color: white;
    color: #72CAC3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 3px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.sign {
    color: white;
    font-family: 'Rock Salt';
    font-size: 36px;
    margin-left: 80px;
    margin-right: 250px;
    margin-top: 20px;
}
.choosefoot {
  background-color: #72CAC3;
  height: 65px;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  padding-left: 43%; 
  padding-top: .5%;
  padding-bottom: .5%;
}

/* choose sign end */

.one {
   margin: 0 auto 0 auto;
   width: 1020px;
   padding: 0px;
}
.two {
    background-color: #EE7470;
    width: 1500px;
    height: 800px;
    margin: auto;
}
.three {
    margin: 100px 300px;
}

/* filter button */

.dropdown {
  margin-left: 70px;
}
.dropbutt {
  color: black;
  font-family: 'Quicksand';
  background-color: white;
  font-size: 20px;
  width: 140px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 10px;
}
.dropdownoptions {
  display: none;
  font-family: 'Quicksand';
  position: absolute;
  background-color: #72CAC3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownoptions a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownoptions a:hover {
    background-color: white;
}
.dropdown:hover .dropdownoptions {
    display: block;}

.dropdown:hover .dropbutt  {
    background-color: #72CAC3;
}
/* filter button end */

/* hover effect for images */

.contain {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 200px;
}
.rent {
    border: 2px solid white;
    width: 100px;
    height: 30px;
    font-family: 'Quicksand';
    text-align: center;
    margin: auto;
}
.transparentbox {
    position: absolute;
    left: 42px;
    top: 275px;
    opacity: 0.90;
    background-color: rgba(114, 202, 195, 0.83);
    width:200px;
    height:75px;
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    text-align: center;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.image {
  display: block;
  width: 200px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.contain:hover .transparentbox {
  top: 170px;
}
.contain:hover .image {
    opacity: 1;
}
/* hover image effect end */
/* Brie Updates on 4.11.21 */

.contactbox{
 background-color: #fff;
 height: 550px;
 width: 1000px;
 margin-left: 850px;
 margin-top: 10%;
 padding: 30px 40px;
 box-sizing: border-box;
 border-radius: 8px;
 box-shadow: 0 0 20px 0 #999;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 display: flex;
 flex-direction: column;
 justify-content: row;
 justify-content: space-around;
}
.contactbox h2{
 color: black;
 text-align: left;
 padding-left: 30%;
}
.txtb{
 border: 1px solid gray;
 margin: 8px o;
 padding: 12px 18px;
 border-radius: 8px;
 margin-top: 8px;
}
.input-field{
   border: 1px solid gray;
   margin: 8px 0;
   padding: 12px 18px;
   border-radius: 8px
 }
.input-field, .input-field textarea-field{
 width: 100%;
 border: none;
 background: none;
 outline: none;
 font-size: 18px;
 margin-top: 6px;

}
.txtb label{
 display: block;
 text-align: left;
 color: #333;
 font-family: 'Quicksand';
}
.txtb input, .txtb textarea{
 width: 100%;
 border: none;
 background: none;
 outline: none;
 font-size: 18px;
 margin-top: 6px;
}
.btn{
 display: inline-block;
 background: #679DA9;
 padding: 14px 0;
 color: black;
 cursor: pointer;
 margin-top: 8px;
 width: 100%;
 text-align: center;
 border-radius: 8px;
 margin-bottom: 8px;
 font-family: 'Quicksand';
 text-decoration: none;

}
/* faq FCE57F*/

.page4 {
    background-color: #679DA9;
    height: 126px;
    margin: auto;
    display: flex;
    flex-direction: row;

}
page4 .storynav:hover {
    background-color: white;
    color: #2A525B;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;

}

.faqfoot{
  background-color: #679DA9;
  height: 65px;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  padding-left: 43%; 
  padding-top: .5%;
  padding-bottom: .5%;
}
.p4{
  background-color: #72CAC3;
  height: 800px;
  text-align: left;
}
.h14{
  color: white;
  padding-top: 2%;
  text-align: center;
  font-family: 'Quicksand';

}
.h34{
  color: white;
  text-align: left;
  padding-left: 10%;
  padding-right: 30%;
}
.pa4{
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Quicksand';
}
.quesbody {
    background-color: #72CAC3;
}
.quesnav {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}

.page4 .quesnav:hover {
    background-color: white;
    color: #679DA9;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.queshighlight {
    background-color: white;
    color: #679DA9;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';
    border: 3px solid white;
    border-radius: 24px;
    padding: 10px 50px;
    height: 20px;
    margin: 40px;
}
.ques {
    color: white;
    font-family: 'Rock Salt';
     font-size: 36px;
    margin-left: 80px;
    margin-right: 250px;
    margin-top: 20px;
}
/* faq end */

/* catalog */

.contain {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 200px;
}
.rent {
    border: 2px solid white;
    width: 100px;
    height: 30px;
    font-family: 'Quicksand';
    text-align: center;
    margin: auto;
}
.transparentbox {
    position: absolute;
    left: 42px;
    top: 275px;
    opacity: 0.90;
    background-color: rgba(114, 202, 195, 0.83);
    width:200px;
    height:75px;
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    text-align: center;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.image {
  display: block;
  width: 200px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.contain:hover .transparentbox {
  top: 170px;
}
.contain:hover .image {
    opacity: 1;
}

/*catalog end */
/* slideshow */
#right {
position: relative;
 height:281px;
  width:450px;
margin: 0 auto;
margin-left: 850px;
padding: 50px;
}
#right img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#right img:hover {
      opacity:0;
}
